.header {
  padding: 7px 0;
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 2;
  .container {
    @include tablet {
      flex-wrap: wrap;
    }
  }
  &__menu {
    //flex: 0 0 70%;
    display: flex;
    margin-top: 16px;
    font-size: 22px;
    line-height: 1;
    justify-content: center;
    font-family: "SF-UI-thin";
    @include desktop {
      font-size: 18px;
      margin-top: 25px;
      flex: 0 0 auto;
    }
    .menu__item {
      &:not(:last-child) {
        margin-right: 16px;
      }
      .item__link {
        color: #fff;
        padding: 4px 10px;
        transition: .3s;
        position: relative;
        &:before {
          content: '';
          position: absolute;
          transition: .3s;
          left: 0;
          width: 0;
          height: 2px;
          bottom: 0;
          background-color: #ffffff;
        }
        &:hover {
          //color: var(--main-color);
          &:before {
            width: 100%;
          }
        }
      }
    }
  }
  &__contact {
    //flex: 0 0 20%;
    display: flex;
    //flex-wrap: wrap;
    height: 100%;
    margin-top: 9px;
    //justify-content: flex-end;
    @include desktop {
      margin-top: 13px;
    }
    @include tablet {
      margin-left: auto;
      margin-top: 16px;
      //margin-top: 16px;

    }
    .contact {

      &__btn {

      }
      &__social {
        margin-left: 30px;
        .social__tg {
          margin-right: 10px;
        }
        .social__tg , .social__wa {
          &:hover {
            svg path, g {
              fill: var(--main-color);
            }
          }
          svg, g {
            @include desktop {
              width: 30px;
            }
          }
        }
      }
      &__tel {
        margin-top: 9px;
        //flex: 0 0 100%;
        margin-left: 20px;
        text-align: right;
        font-size: 20px;
        color: #fff;
        order: -1;
        margin-right: 20px;
        font-family: "SF-UI-thin";
        @include desktop {
          font-size: 18px;
        }
        @include tablet {
          flex: 0 0 auto;

        }
        //text-decoration: underline;
        //text-decoration-style: dotted;
        //text-underline-position: under;
        //&:hover {
        //  color: #000;
        //}
      }
    }
  }
}
.slider {
  width: 100%;
  height: 1000px;
  .container {
    width: 100%;
    height: 400px;
    display: flex;
    flex-direction: column;
  }
  &__item {
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    .item {
      &__title {
        max-width: 900px;
        font-size: 68px;
        color: #fff;
        line-height: 120%;
        font-family: "SF-UI-bold";
        font-weight: 700;
      }
      &__link {
        color: #fff;
        font-size: 22px;
        margin-top: 40px;
        display: block;
        text-decoration: underline;
      }
    }
  }
  .swiper-pagination {
    position: absolute;
    bottom: 0;
    right: 0;
    left: 0;
    margin: 0;
    background-color: rgba(255, 255, 255, 0.5);

  }
  .swiper-pagination-bullet {
    padding: 15px 10px;
    border-radius: 0;
    width: auto;
    height: 50px;
    text-align: left;
    font-size: 20px;
    color:#000;
    opacity: 1;
    background-color: transparent;
  }
  .swiper-pagination-bullet-active {
    color:#fff;
    background: var(--main-color);
    font-size: 20px;
  }
}

@keyframes hvr-wobble-horizontal {
  16.65% {
    -webkit-transform: translateX(8px);
    transform: translateX(8px);
  }

  33.3% {
    -webkit-transform: translateX(-6px);
    transform: translateX(-6px);
  }

  49.95% {
    -webkit-transform: translateX(4px);
    transform: translateX(4px);
  }

  66.6% {
    -webkit-transform: translateX(-2px);
    transform: translateX(-2px);
  }

  83.25% {
    -webkit-transform: translateX(1px);
    transform: translateX(1px);
  }

  100% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }
}

