.header {
  padding: 7px 0;
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 2;
  .container {
  }
  &__logo {
    @include tablet {
      flex: 0 0 115px;
    }
    @include mc-tablet {
      flex: 0 0 85px;
    }
  }
  &__menu {
    //flex: 0 0 70%;
    display: flex;
    margin-top: 16px;
    font-size: 22px;
    line-height: 1;
    justify-content: center;
    font-family: "SF-UI-thin";
    @include desktop {
      font-size: 18px;
      margin-top: 25px;
      flex: 0 0 auto;
    }
    @include tablet {
      font-size: 16px;
    }
    @include small-tablet {
      transform: translateX(100vw);
      transition: .6s;
      position: absolute;
      width: 50vw;
      height: calc(100vh);
      top: 0;
      margin-top: 0;
      right: 0;
      background-color: var(--second-color);
      flex-direction: column;
      align-items: flex-start;
      justify-content: flex-start;
      padding: 60px 20px 60px;
      font-size: 18px;
    }
    &.menu--active {
      @include small-tablet {
        transform: translateX(0);
      }
    }
    .menu__item {

      &:not(:last-child) {
        margin-right: 16px;
        @include small-tablet {
          margin-right: 0;
          margin-bottom: 30px;
        }
      }
      .item__link {
        color: #fff;
        padding: 4px 10px;
        transition: .3s;
        position: relative;
        &:before {
          content: '';
          position: absolute;
          transition: .3s;
          left: 0;
          width: 0;
          height: 2px;
          bottom: 0;
          background-color: #fff;
        }
        &:hover {
          &:before {
            width: 100%;
          }
        }
      }
      &.btn {
        display: none;
        @include small-tablet {
          display: block;
          margin-top: auto;
          margin-bottom: 40px;
        }
      }
    }
  }
  &__contact {
    //flex: 0 0 20%;
    display: flex;
    //flex-wrap: wrap;
    height: 100%;
    margin-top: 9px;
    //justify-content: flex-end;
    @include desktop {
      margin-top: 13px;
    }
    @include tablet {
      margin-left: auto;
      margin-top: 16px;
      //margin-top: 16px;
    }
    @include mc-tablet {
      margin-top: 10px;
    }
    //@include tablet-medium {
    //  margin-top: -49px;
    //}
    .contact {

      &__btn {
        @include mc-tablet {
          display: none;
        }
      }
      &__social {
        margin-left: 30px;
        @include tablet {
          margin-left: 20px;
          margin-top: 3px;
        }
        .social__tg {
          margin-right: 10px;
          @include tablet {
            margin-right: 6px;
          }
        }
        .social__tg , .social__wa {
          &:hover {
            svg path, g {
              fill: var(--main-color);
            }
          }
          svg {
            @include desktop {
              height: 30px;
              max-width: 30px;
            }
            @include tablet {
              height: 25px;
              max-width: 25px;
            }
          }
        }
      }
      &__tel {
        margin-top: 9px;
        //flex: 0 0 100%;
        margin-left: 20px;
        text-align: right;
        font-size: 20px;
        color: #fff;
        order: -1;
        margin-right: 20px;
        font-family: "SF-UI-thin";
        @include desktop {
          font-size: 18px;
        }
        @include tablet {
          flex: 0 0 auto;
          font-size: 16px;
          margin-left: 0;

        }
        @include mc-tablet {
          font-size: 14px;
          margin-right: 0;
        }
        //text-decoration: underline;
        //text-decoration-style: dotted;
        //text-underline-position: under;
        //&:hover {
        //  color: #000;
        //}
      }
    }
  }
  &__burger {
    @include burger;
    display: none;
    @include small-tablet {
      display: block;
      margin-top: 22px;
      margin-left: 30px;
    }
    @include mc-tablet {
      margin-top: 15px;
    }
    &.burger--active {
      &::before {
        top: 50%;
        transform: rotate(45deg);
        transition: transform 0.3s ease-in-out, top 0.3s ease-in-out;
      }

      &::after {
        top: 50%;
        transform: rotate(-45deg);
        transition: transform 0.3s ease-in-out, top 0.3s ease-in-out;
      }

      .burger__line {
        transform: scale(0);
        transition: transform 0.3s ease-in-out;
      }
    }
  }
}
.slider {
  width: 100%;
  height: 100vh;
  @include small-tablet {
    height: calc(100vh - 200px);
  }
  .container {
    width: 100%;
    height: 400px;
    display: flex;
    flex-direction: column;
    @include desktop {
      padding: 0 150px;
    }
    @include tablet {

    }
    @include small-tablet {
      height: 400px;
      padding: 0 80px;
    }
    @include mobile {
      padding: 0 var(--container-offset);
    }
  }
  &__item {
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    align-items: center;

    .item {
      &__title {
        max-width: 900px;
        font-size: 68px;
        color: #fff;
        line-height: 120%;
        font-family: "SF-UI-bold";
        font-weight: 700;
        @include small-tablet {
          font-size: 48px;
        }
        @include mobile {
          font-size: 26px;
        }
      }
      &__link {
        color: #fff;
        font-size: 22px;
        margin-top: 40px;
        display: block;
        text-decoration: underline;
        @include small-tablet {
          font-size: 16px;
        }
      }
    }
  }
  .swiper-pagination-bullet {
    height: 15px;
    width: 15px;
    background-color: var(--second-color);
    opacity: .7;
  }
  .swiper-pagination-bullet-active {
    background-color: var(--main-color);
    opacity: 1;
  }
  .swiper-button-next:after, .swiper-button-prev:after {
    content: none;
  }
  .swiper-button-next, .swiper-button-prev {
    fill: #fff;
    width: 60px;
    height: 60px;
    background-size: contain;
    right: 60px;
    background-repeat: no-repeat;
    background-image: url("data:image/svg+xml,%3Csvg fill='none' height='36' stroke='%23fff' stroke-linecap='round' stroke-linejoin='round' viewBox='0 0 24 24' width='36' xmlns='http://www.w3.org/2000/svg'%3E%3Ccircle cx='12' cy='12' r='10'/%3E%3Cpath d='m10 16 5-4-5-4'/%3E%3C/svg%3E"); //.swiper-pagination {
    @include desktop {
      right: 30px;
    }
    @include tablet {
      width: 40px;
      height: 40px;
    }
    @include small-tablet {
      width: 30px;
      height: 30px;
      right: 10px;
    }
  }
  .swiper-button-prev {
    transform: rotate(180deg);
    left: 60px;
    @include desktop {
      left: 30px;
    }
    @include small-tablet {
      left: 10px;
    }
  }
    //  position: absolute;
  //  bottom: 0;
  //  right: 0;
  //  left: 0;
  //  margin: 0;
  //  background-color: rgba(255, 255, 255, 0.5);
  //
  //}
  //.swiper-pagination-bullet {
  //  padding: 15px 10px;
  //  border-radius: 0;
  //  width: auto;
  //  height: 50px;
  //  text-align: left;
  //  font-size: 20px;
  //  color:#000;
  //  opacity: 1;
  //  background-color: transparent;
  //}
  //.swiper-pagination-bullet-active {
  //  color:#fff;
  //  background: var(--main-color);
  //  font-size: 20px;
  //}
}

@keyframes hvr-wobble-horizontal {
  16.65% {
    -webkit-transform: translateX(8px);
    transform: translateX(8px);
  }

  33.3% {
    -webkit-transform: translateX(-6px);
    transform: translateX(-6px);
  }

  49.95% {
    -webkit-transform: translateX(4px);
    transform: translateX(4px);
  }

  66.6% {
    -webkit-transform: translateX(-2px);
    transform: translateX(-2px);
  }

  83.25% {
    -webkit-transform: translateX(1px);
    transform: translateX(1px);
  }

  100% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }
}

