.services {
  @include small-tablet {
    display: none;
  }
  position: relative;
  &:before, &:after {
    content: '';
    background-image: url("/img/sign.svg");
    background-repeat: no-repeat;
    background-size: contain ;
    position: absolute;
    width: 300px;
    height: 600px;
    left: -120px;
    right: 0;
    top: 0;
    opacity: .1;
    z-index: -1;
  }
  &:after {
    left: 70%;
    width: 500px;
    height: 900px;
    top: 50%;
  }
  &__title {
    text-align: center;
    @include small-tablet() {
      margin: 0 0 10px 0;
    }
  }
  .container {

  }
  &__item {
    display: flex;
    margin-bottom: 40px;
    &:hover {
      svg path {
        fill: var(--main-color);
      }
    }

    .item {
      &__title {
        flex: 0 0 100%;
        margin: 5px 0 0 0;
        @include small-tablet {
          flex: 0 0 40px;
        }
      }
      &__link {
        position: absolute;
        bottom: 20px;
      }
      &__list {
        display: flex;
        flex-wrap: wrap;
        flex: 0 0 80%;
        font-size: 18px;
        @include tablet {
          margin: 0 auto;
          width: 400px;
          font-size: 16px;
          flex-wrap: wrap;
        }
        @include small-tablet {
          width: 80%;
          font-size: 14px;
        }
        .list__item {
          position: relative;
          &:not(:last-child) {
            margin-right: 20px;
            border-radius: 2px;
          }
          //&:before {
          //  content: '';
          //  width: 10px;
          //  height: 2px;
          //  position: absolute;
          //  bottom: 0;
          //  top: 50%;
          //  transform: translateY(-50%);
          //  left: -20px;
          //  background-color: var(--second-color);
          //}
        }

      }
      &__img {
        position: relative;
        display: flex;
        justify-content: center;
        align-items: center;
        flex: 0 0 20%;
        margin-right: 40px;
        .item__icon {
          position: absolute;
          left: 0;
          right: 0;
          width: 200px;
          height: 200px;
          bottom: 20px;
          margin: 0 auto;
        }
      }
    }
  }
}
