.services {
  position: relative;
  &:before, &:after {
    content: '';
    background-image: url("/img/sign.svg");
    background-repeat: no-repeat;
    background-size: contain ;
    position: absolute;
    width: 300px;
    height: 600px;
    left: -120px;
    right: 0;
    top: 0;
    opacity: .1;
    z-index: -1;
  }
  &:after {
    left: 70%;
    width: 500px;
    height: 900px;
    top: 50%;
  }
  &__title {
    text-align: center;
    @include small-tablet() {
      margin: 0 0 10px 0;
    }
  }
  .container {
    display: grid;
    grid-template-columns: repeat(3, 400px);
    align-items: center;
    justify-content: space-between;
    row-gap: 70px;
    @include small-tablet {
      grid-template-columns: repeat(2, 1fr);
    }
    @include mobile {
      grid-template-columns: repeat(1, 1fr);
    }
  }
  &__item {
    display: flex;
    flex-direction: column;
    height: 582px;
    &:hover {
      svg path {
        fill: var(--main-color);
      }
    }

    .item {
      &__title {
        text-align: center;
        flex: 0 0 60px;
        margin: 5px 0 10px 0;
        @include small-tablet {
          flex: 0 0 40px;
        }
      }
      &__link {
        margin: auto auto 0 auto;
      }
      &__list {
        flex:0 0 210px;
        padding-left: 30px;
        font-size: 18px;
        @include tablet {
          margin: 0 auto;
          width: 400px;
          font-size: 16px;
          flex-wrap: wrap;
        }
        @include small-tablet {
          width: 80%;
          font-size: 14px;
        }
        .list__item {
          margin-bottom: 7px;
          position: relative;
          &:before {
            content: '';
            width: 10px;
            height: 2px;
            position: absolute;
            bottom: 0;
            top: 50%;
            transform: translateY(-50%);
            left: -20px;
            background-color: var(--second-color);
          }
        }

      }
      &__img {
        position: relative;
        display: flex;
        justify-content: center;
        align-items: center;
        .item__icon {
          position: absolute;
          left: 0;
          right: 0;
          width: 60%;
          margin: 0 auto;
        }
      }
    }
  }
}
