<section class="contact">
  <script type="text/javascript" charset="utf-8" async src="https://api-maps.yandex.ru/services/constructor/1.0/js/?um=constructor%3A054e02c41ed416c9df5e2c144f04202b077e7cfaa25edece976824cce22e22a9&amp;width=100%25&amp;height=600&amp;lang=ru_RU&amp;scroll=true"></script>
  <div class="contact__wrapper">
    <h2 class="contact__title">Контакты</h2>
    <div class="contact__address">
      <address>
        141981, Россия, Московская обл, г. Дубна, ул. Большеволжская, д. 15
      </address>
    </div>
    <a href="tel:8 (495) 877-46-72" class="contact__tel">8 (495) 877-46-72</a>
    <a href="mailto:help@farro01.ru" class="contact__email">help@farro01.ru</a>
  </div>
</section>
