<footer class="footer">
  <div class="container">
    <div class="contact__wrapper">
      <img src="/img/logo.svg" alt="" class="contact__logo">
        <address class="contact__address">
          141981, Россия, Московская обл, г. Дубна, ул. Большеволжская, д. 15
        </address>
      <a href="tel:8 (495) 877-46-72" class="contact__tel">8 (495) 877-46-72</a>
      <a href="mailto:help@farro01.ru" class="contact__email">help@farro01.ru</a>
    </div>
  </div>
</footer>
<div class="popup__bg">
  <form class="popup">
    <div class="close-popup"></div>
    <h2 class="popup__title subtitle">Оставьте ваш телефон и мы свяжемся с Вами!</h2>
    <label>
      <div class="label__text">
        Ваше Имя
      </div>
      <input class="form__input" type="text" name="name">
    </label>
    <label>

      <div class="label__text">
        Ваш телефон
      </div>
      <input class="form__input" type="tel" name="tel">
    </label>
    <button class="btn" type="submit">Отправить</button>
  </form>
</div>
