<section class="map">
  <h2 class="map__title title">Наши проекты</h2>
  <script type="text/javascript" charset="utf-8" async src="https://api-maps.yandex.ru/services/constructor/1.0/js/?um=constructor%3A054e02c41ed416c9df5e2c144f04202b077e7cfaa25edece976824cce22e22a9&amp;width=100%25&amp;lang=ru_RU&amp;scroll=true"></script>
</section>
<section class="form">
  <form action="" class="form__wrapper">
    <h2 class="form__title title">
      Заказать консультацию
    </h2>
    <label for="">
      <span>
        Имя
      </span>
      <input type="text" class="form__input input-name">
    </label>
    <label for="">
      <span>
        Номер телефона<span>*</span>
      </span>
      <input type="tel" class="form__input input-tel">
    </label>
    <label for="">
      <span>
        Еmail<span>*</span>
      </span>
      <input type="tel" class="form__input input-email">
    </label>
    <label for="">
      <span>
        Сообщение
      </span>
      <textarea class="form__text"></textarea>
    </label>
    <img src="" alt="" class="gres">
    <input type="submit" class="form__submit btn--big" value="Отправить">
  </form>
</section>
