<section class="reviews">
  <h2 class="reviews__title title">Отзывы</h2>
  <div class="reviews__slider swiper">
      <!-- Additional required wrapper -->
      <div class="swiper-wrapper">
        <!-- Slides -->
        <div class="swiper-slide reviews__item">
          <img src="/img/about.webp" alt="" class="item__img">
          <a class="item__wrapper" data-pswp-width="800" data-pswp-height="1200" href="/img/cert.webp">
            <h3 class="item__title">ООО Рога и копыта</h3>
            <span class="item__text">
              Комплексная услуга тушения пожара
            </span>
            <button class="item__btn btn grey">Подробнее</button>
          </a>
        </div>
        <div class="swiper-slide reviews__item">
          <img src="/img/about.webp" alt="" class="item__img">
          <a class="item__wrapper" data-pswp-width="800" data-pswp-height="1200" href="/img/cert.webp">
            <h3 class="item__title">ООО Рога и копыта</h3>
            <span class="item__text">
              Комплексная услуга тушения пожара
            </span>
            <button class="item__btn btn grey">Подробнее</button>
          </a>
        </div>
        <div class="swiper-slide reviews__item">
          <img src="/img/about.webp" alt="" class="item__img">
          <a class="item__wrapper" data-pswp-width="800" data-pswp-height="1200" href="/img/cert.webp">
            <h3 class="item__title">ООО Рога и копыта</h3>
            <span class="item__text">
              Комплексная услуга тушения пожара
            </span>
            <button class="item__btn btn grey">Подробнее</button>
          </a>
        </div>
        <div class="swiper-slide reviews__item">
          <img src="/img/about.webp" alt="" class="item__img">
          <a class="item__wrapper" data-pswp-width="800" data-pswp-height="1200" href="/img/cert.webp">
            <h3 class="item__title">ООО Рога и копыта</h3>
            <span class="item__text">
              Комплексная услуга тушения пожара
            </span>
            <button class="item__btn btn grey">Подробнее</button>
          </a>
        </div>
        <div class="swiper-slide reviews__item">
          <img src="/img/about.webp" alt="" class="item__img">
          <a class="item__wrapper" data-pswp-width="800" data-pswp-height="1200" href="/img/cert.webp">
            <h3 class="item__title">ООО Рога и копыта</h3>
            <span class="item__text">
              Комплексная услуга тушения пожара
            </span>
            <button class="item__btn btn grey">Подробнее</button>
          </a>
        </div>        <div class="swiper-slide reviews__item">
        <img src="/img/about.webp" alt="" class="item__img">
        <a class="item__wrapper" data-pswp-width="800" data-pswp-height="1200" href="/img/cert.webp">
          <h3 class="item__title">ООО Рога и копыта</h3>
          <span class="item__text">
              Комплексная услуга тушения пожара
            </span>
          <button class="item__btn btn grey">Подробнее</button>
        </a>
      </div>

      </div>
      <!-- If we need navigation buttons -->
      <div class="swiper-button-prev"></div>
      <div class="swiper-button-next"></div>

  </div>
</section>
<section class="clients">
  <h2 class="clients__title title">Наши клиенты</h2>
  <div class="clients__slider swiper">
    <!-- Additional required wrapper -->
    <div class="swiper-wrapper">
      <!-- Slides -->
      <div class="slider__item swiper-slide">
        <img src="/img/tele2.webp" alt="" class="item__img">
      </div>
      <div class="slider__item swiper-slide">
        <img src="/img/vkus.webp" alt="" class="item__img">
      </div>
      <div class="slider__item swiper-slide">
        <img src="/img/tele2.webp" alt="" class="item__img">
      </div>
      <div class="slider__item swiper-slide">
        <img src="/img/vkus.webp" alt="" class="item__img">
      </div>
      <div class="slider__item swiper-slide">
        <img src="/img/tele2.webp" alt="" class="item__img">
      </div>
      <div class="slider__item swiper-slide">
        <img src="/img/vkus.webp" alt="" class="item__img">
      </div>
      <div class="slider__item swiper-slide">
        <img src="/img/tele2.webp" alt="" class="item__img">
      </div>
      <div class="slider__item swiper-slide">
        <img src="/img/vkus.webp" alt="" class="item__img">
      </div>
      <div class="slider__item swiper-slide">
        <img src="/img/tele2.webp" alt="" class="item__img">
      </div>
      <div class="slider__item swiper-slide">
        <img src="/img/vkus.webp" alt="" class="item__img">
      </div>
      <div class="slider__item swiper-slide">
        <img src="/img/vkus.webp" alt="" class="item__img">
      </div>
      <div class="slider__item swiper-slide">
        <img src="/img/tele2.webp" alt="" class="item__img">
      </div>
      <div class="slider__item swiper-slide">
        <img src="/img/vkus.webp" alt="" class="item__img">
      </div>
    </div>
    <!-- If we need pagination -->
    <!-- If we need navigation buttons -->
  </div>
</section>
