<section class="reviews">
  <h2 class="reviews__title title">Отзывы</h2>
  <div class="container">
    <div class="reviews__wrapper">
      <div class="reviews__slider swiper">
        <!-- Additional required wrapper -->
        <div class="swiper-wrapper">
          <!-- Slides -->
          <div class="swiper-slide reviews__item">
            <a class="item__wrapper" data-pswp-width="800" data-pswp-height="1200" href="/img/cert.webp">
            <img src="/img/cert.webp" alt="" class="item__img">

            </a>
          </div>
          <div class="swiper-slide reviews__item">
            <a class="item__wrapper" data-pswp-width="800" data-pswp-height="1200" href="/img/cert.webp">
              <img src="/img/cert.webp" alt="" class="item__img">

            </a>
          </div>
          <div class="swiper-slide reviews__item">
            <a class="item__wrapper" data-pswp-width="800" data-pswp-height="1200" href="/img/cert.webp">
              <img src="/img/cert.webp" alt="" class="item__img">

            </a>
          </div>
          <div class="swiper-slide reviews__item">
            <a class="item__wrapper" data-pswp-width="800" data-pswp-height="1200" href="/img/cert.webp">
              <img src="/img/cert.webp" alt="" class="item__img">

            </a>
          </div>
          <div class="swiper-slide reviews__item">
            <a class="item__wrapper" data-pswp-width="800" data-pswp-height="1200" href="/img/cert.webp">
              <img src="/img/cert.webp" alt="" class="item__img">

            </a>
          </div>


        </div>
        <!-- If we need navigation buttons -->
        <div class="swiper-button-prev"></div>
        <div class="swiper-button-next"></div>

      </div>
    </div>
    <div class="reviews__advantage">
      <ul class="advantage__list list-reset">
        <li class="list__item">
          <div class="item__num">5+</div>
          <div class="item__text">Года работы
            нашей компании</div>
        </li>
        <li class="list__item">
          <div class="item__num">218+</div>
          <div class="item__text">Миллиона мы сэкономили
            нашим клиентам</div>
        </li>
        <li class="list__item">
          <div class="item__num">96</div>
          <div class="item__text">Успешно выполненных
            проектов</div>
        </li>
        <li class="list__item">
          <div class="item__num">975+</div>
          <div class="item__text">Тысяч м2 не пришлось покрывать огнезащитой</div>
        </li>
      </ul>
    </div>
  </div>

</section>
<section class="clients">
  <h2 class="clients__title title">Наши клиенты</h2>
  <div class="clients__slider swiper">
    <!-- Additional required wrapper -->
    <div class="swiper-wrapper">
      <!-- Slides -->
      <div class="slider__item swiper-slide">
        <img src="/img/tele2.webp" alt="" class="item__img">
      </div>
      <div class="slider__item swiper-slide">
        <img src="/img/vkus.webp" alt="" class="item__img">
      </div>
      <div class="slider__item swiper-slide">
        <img src="/img/tele2.webp" alt="" class="item__img">
      </div>
      <div class="slider__item swiper-slide">
        <img src="/img/vkus.webp" alt="" class="item__img">
      </div>
      <div class="slider__item swiper-slide">
        <img src="/img/tele2.webp" alt="" class="item__img">
      </div>
      <div class="slider__item swiper-slide">
        <img src="/img/vkus.webp" alt="" class="item__img">
      </div>
      <div class="slider__item swiper-slide">
        <img src="/img/tele2.webp" alt="" class="item__img">
      </div>
      <div class="slider__item swiper-slide">
        <img src="/img/vkus.webp" alt="" class="item__img">
      </div>
      <div class="slider__item swiper-slide">
        <img src="/img/tele2.webp" alt="" class="item__img">
      </div>
      <div class="slider__item swiper-slide">
        <img src="/img/vkus.webp" alt="" class="item__img">
      </div>
      <div class="slider__item swiper-slide">
        <img src="/img/vkus.webp" alt="" class="item__img">
      </div>
      <div class="slider__item swiper-slide">
        <img src="/img/tele2.webp" alt="" class="item__img">
      </div>
      <div class="slider__item swiper-slide">
        <img src="/img/vkus.webp" alt="" class="item__img">
      </div>
    </div>
    <!-- If we need pagination -->
    <!-- If we need navigation buttons -->
  </div>
</section>
