.btn {
  padding: 8px 16px;
  background-color: var(--main-color);
  border: none;
  color: #fff;
  transition: .4s;
  cursor: pointer;
  white-space: nowrap;
  height: fit-content;
  &:hover {
    background-color: var(--hover-color);
  }
  @include small-tablet {
    padding: 6px 12px;
  }
}
