// если вы хотите использовать sass-переменные - удалите root
// colors
:root {
  // base
  --font-family: "SF-UI", sans-serif;
  --content-width: 1560px;
  --container-offset: 15px;
  --container-width: calc(var(--content-width) + (var(--container-offset) * 2));

  // colors
  --main-color: #D52B1E;
  --light-color: #fff;
  --hover-color: #9d2323;
  --hover-second: rgba(77, 77, 80, 0.95);
  --second-color: rgba(97, 99, 101, 0.95);
}
