.about__title {
  text-align: center;
}
.about .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}
.about__qualification {
  -webkit-box-flex: 0;
  -ms-flex: 0 0 70%;
  flex: 0 0 70%;
  overflow: hidden;
}
.about__qualification .qualification__cert {
  width: 100%;
  height: 100%;
  margin-top: 50px;
}
.about__qualification .qualification__cert .slider__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}
.about__qualification .qualification__cert .slider__item a {
  max-width: 80%;
  margin-top: 10%;
  margin-bottom: 10%;
  -webkit-filter: grayscale(0.5);
  filter: grayscale(0.5);
}
.about__qualification .qualification__cert .slider__item a:hover {
  -webkit-filter: grayscale(0);
  filter: grayscale(0);
}
.about__qualification .qualification__cert .slider__item.swiper-slide-next a {
  max-width: 100%;
  margin: 0;
}
.about__qualification .swiper-button-next:after, .about__qualification .swiper-button-prev:after {
  content: none;
}
.about__qualification .swiper-button-next, .about__qualification .swiper-button-prev {
  fill: #9d2323;
  width: 30px;
  height: 30px;
  background-size: contain;
  background-repeat: no-repeat;
  background-image: url("data:image/svg+xml,%3Csvg fill='brown' height='36' stroke='%23fff' stroke-linecap='round' stroke-linejoin='round' viewBox='0 0 24 24' width='36' xmlns='http://www.w3.org/2000/svg'%3E%3Ccircle cx='12' cy='12' r='10'/%3E%3Cpath d='m10 16 5-4-5-4'/%3E%3C/svg%3E");
}
.about__qualification .swiper-button-prev {
  -webkit-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  transform: rotate(180deg);
}
.about__slider {
  -webkit-box-flex: 0;
  -ms-flex: 0 0 25%;
  flex: 0 0 25%;
  position: relative;
}
.about .slider__portfolio {
  height: 700px;
  overflow: hidden;
}
.about .slider__portfolio .slider__item {
  position: relative;
  -webkit-filter: grayscale(0.5);
  filter: grayscale(0.5);
}
.about .slider__portfolio .slider__item:hover {
  -webkit-filter: grayscale(0);
  filter: grayscale(0);
}
.about .slider__portfolio .slider__item .item__info {
  position: absolute;
  padding: 20px;
}
.about .slider__portfolio .slider__item .item__info .item__title {
  font-size: 22px;
}
.about .slider__portfolio .slider__item .item__info .item__text {
  color: #fff;
}
.about .slider__portfolio .slider__item .item__info .item__link {
  text-decoration: none;
  font-size: 16px;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
}
.about .slider__portfolio .swiper-pagination-vertical.swiper-pagination-bullets, .about .slider__portfolio .swiper-vertical > .swiper-pagination-bullets {
  top: 90%;
}
.about .slider__portfolio .swiper-pagination-bullet {
  height: 15px;
  width: 15px;
  background-color: var(--second-color);
  opacity: 0.7;
}
.about .slider__portfolio .swiper-pagination-bullet-active {
  background-color: var(--main-color);
  opacity: 1;
}
/*# sourceMappingURL=about.css.map */